.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__title {
    font-size: 3vw;
    color: rgb(24, 0, 255);
}

nav.header__nav {
    margin-left: auto;
}

ul.header__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

li {
    padding: 0 10px;
    color: rgb(24, 0, 255);
    font-weight: bold;
    font-size: 2vw;
}

.firstview {
    position: relative;
    margin: 50px 0 0 0;
    height: 500px;
    width: auto;
}

img.firstview__img--right {
    margin: 0 0 0 auto;
    display: flex;
    width: 50%;
}


.firstview__title {
    display: flex;
    position: absolute;
    top: 18vw;
    font-size: 5vw;
    line-height: 100%;
    margin-bottom: 0%;

}

.firstview__underbox {
    position: absolute;
    top: 26vw;
    display: block;
    background-color: rgb(24, 0, 255);
    margin-top: 0%;
    width: 70%;
    height: 15vw;
    justify-content: space-around;
    z-index: -5;
}